body{
    background-color: azure;
}

.h2{
font-size: 12px;
font-family: Consolas;
}

.button-row {
    display: flex;
    gap: 10px; 
}

.button-row button {
    min-width: 35px;
    max-height: 35px;
}

.circle-btn {
  width: 35px;
  height: 35px;

  border-radius: 60%;
  background: black; 

  border: 10px solid rgba(241, 240, 240, 0.849); 

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 9px;
  font-weight: bold;

  font-family: Arial, sans-serif;
}


.github-btn {
    background: #24292e;
    color: white;
    border: none;
    padding: 10px 8px;
    border-radius: 60%;
    cursor: pointer;
    font-size: 16px;

    display: flex;
  align-items: center;
  justify-content: center;
}

/* .github-btn i {
    margin-right: 8px;
} */


