body{
    background-color: rgba(225, 222, 222, 0.813);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

h2{
    margin: 0;
    font-size: 1.1em;
}

.card{
    width: 400px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 20px rgb(74, 73, 73);
}

.card img{
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.card-content{
    padding: 20px 30px 30px;
}

.card footer{
    margin-top: 30px;
}

.card footer em{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}